/* menu personas y diseño de su croll */
.menuPersonas {
    background-color: #2f3136;
    max-width: 240px;
    min-width: 240px;
    overflow: hidden scroll;
    padding-right: 0px;
    color: #8e9297;
}

.menuPersonas::-webkit-scrollbar {
    width: 3px;
}

.menuPersonas::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 20px;
}

/* fin del scroll y su diseño */


/* para chats en el servidor */
.invitarGente {
    border-radius: 50%;
}

/* para chats en el servidor */

.contenedor {
    min-height: 20%;
    position: fixed;
    overflow: hidden;
    top: 0px;
    width: 240px;
    font-size: 20px;
    align-items: center;
    text-align: -webkit-center;
    background-color: #2f3136;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
}


.nomServer {
    width: 100%;
    height: 20px;
    padding: 10px;
    text-align: left;
    color: aliceblue
}

.nomServer:hover {
    background-color: #3c3e45;
    cursor: hand;
}

.persojunior {
    width: fit-content;
    height: fit-content;
    gap: 2px;
    justify-content: center;
    align-content: center;
}


.menu1 {
    min-height: 31px;
    min-width: 232;
    display: flex;
    align-items: center;
}

.menu1:hover {
    background-color: #3c3e45;
    overflow: hidden;
    opacity: 0.7;
    cursor: pointer;
    color: white;
    border-radius: 20%;
}

.tittleGrupoMenu1 {
    padding: 2px;
    font-family: 'Koulen', cursive;
}

.tittleGrupoMenu1:hover {
    color: white;
}


/* para usuario*/
.usuario {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    min-height: 5vh;
    width: 240px;
    font-size: 20px;
    background-color: #202225;
}

.text {
    color: red;
    font-size: 5px;
    font-family: "Times New Roman", Times, serif;
}

/* para usuario */

