/* menu personas y diseño de su croll */
.menuPersonas {
    background-color: #2f3136;
    max-width: 240px;
    min-width: 240px;
    overflow: hidden scroll;
    padding-right: 0px;
    color: #8e9297;

}

.menuPersonas::-webkit-scrollbar {
    width: 3px;
}

.menuPersonas::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 20px;
}


/* fin del scroll y su diseño */


/* para chats en el servidor */
.invitarGente {
    height: 100%;
}

/* para chats en el servidor */

.contenedor {
    min-height: 20%;
    position: fixed;
    overflow: hidden;
    width: 240px;
    font-size: 20px;
    align-items: center;
    text-align: -webkit-center;
    background-color: #2f3136;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
}


.nomServer {
    width: 100%;
    padding: 10px;
    align-content: center;
    text-align: left;
    color: aliceblue;
    display: flex;
    align-items: center;

}

.nomServer:hover {
    background-color: #3c3e45;
    cursor: hand;
}




.persojunior {
    width: fit-content;
    height: fit-content;
    gap: 2px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    align-content: space-between;
}


.menu1 {
    min-height: 31px;
    min-width: 232;
    display: flex;
    align-items: center;
    padding: 3px;
    
}

.paicons{
opacity:0;
margin-left:5%;
}

.menu1:hover {
    background-color: #3c3e45;
    overflow: hidden;
    color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
    
}

.menu1:hover .paicons{
    opacity:1;
}

.tittleGrupoMenu1 {
    height: 16px;
    padding-top: 6px;
    font-size: 100%;
    font-weight: 300;
    margin: 0px;
    font-family:"ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tittleGrupoMenu1:hover {
    color: white;
}


/* para usuario*/
.usuario {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    min-height: 52px;
    width: 240px;
    font-size: 20px;
    background-color: #202225;
}

.botTittle{
    height: 15px;
    width: 37.47px;
    background-color: #5865f4;
    border-radius: 15%;
    border-left: 3px;
    color:aliceblue;
    font-size: 10px;

}
/* para usuario */

/* TIPOS DE TEXTOS */

.p1 {
    font-family: 'CustomFont', 'Times New Roman', Times, serif;
    font: weight 400px;
    height: 5%; 
    display: flex;
    align-items: center;
    height: 5%; 
    margin: 0px;
    font-style:normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 6px;
    }

.p {
    margin: 0px; 
    font-family: "whitney","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    align-items: center; 
    margin: 0px;
    width: 142px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 6px;
  
}

.pbot {
    font-family: ABC Ginto Normal, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: pink;
    margin: 0px;
    padding-left: 3px;
    padding-right: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text {
    color: grey;
    font-size: 15px;
    margin: 0px;
    font-family: "Times New Roman", Times, serif;
}

.tittle {
    color: white;
    font-size: 20px;
    font-weight: 300px;
    margin: 0px;
    font-family:"ABC Ginto Normal","Helvetica Neue","Helvetica","Arial","sans-serif"
    ;
}

.tittle2 {
    height: 16px;
    padding-top: 2px;
    font-size: 100%;
    font-weight: 300;
    margin: 0px;
    font-family:"ABC Ginto Normal","Helvetica Neue",Helvetica,Arial,sans-serif;
}