.servidores {
    height: 10%;
    width: 100%;
    border-radius: 30%;
}

.usuarioPro {
    width: 90%;
    height: fit-content;
    padding: 4px;
}

.barraDerecha {
    flex: 1;
    height: 95vh;
    margin: 0%;
    background-color: #2f3136;
    min-width: 230px;
    color: aliceblue;
    overflow: hidden scroll;
    padding: 5px;
    justify-content: space-between;
}

.usuariosdesconectados {
    background-color: none;
    min-width: 240px;
    height: fit-content;
    padding: 4px;
} 
/*Hovers y otros*/


.barraDerecha::-webkit-scrollbar {
    width: 3px;
    color:violet;
}

.conteneBarraDerecha {
    gap:5px;
    height: 42px;
    width: 244px;
    padding: 3px;
    color:rgb(206, 57, 82);
}


.conteneBarraDerecha:hover  {
    cursor: pointer;
    background-color: #3c3e45;
}