.menuPersonas {
    background-color: #2f3136;
    grid-template-rows: repeat(auto-fill, minmax(100vh, 1fr));
}

.menuPersonas::-webkit-scrollbar {
    width: 7px;
    background-color: blueviolet;
    scrollbar-shadow-color: aqua;
}

.persojunior {
    width: fit-content;
    height: fit-content;
    
    gap: 2px;
}

.menu1 {
    justify-content: center;
    height: 5vh;
    width: 10vw;
    display: flex;
    margin: 3px;
    align-content: center;
}

.menu1:hover {
    background-color: #3c3e45;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0.7;
    cursor: pointer;
    color: white;
}

.tittleGrupoMenu1 {
    padding: 2px;
    font-family: 'Koulen', cursive;
}

.tittleGrupoMenu1:hover
{
    color: white;
}