.barraDerecha {
    height: 100vh;
    width: 4vw;
    margin: 0%;
    background-color: #202225;
    align-content: center;
    justify-content: center;
    grid-template-rows: repeat(auto-fill, minmax(200vh, 1fr));
}